<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img [src]="product.image" class="card-img-top h-100" alt="..." />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.category }}</p>
        <p class="card-text">{{ product.price | currency: "CAD" }}</p>
        <p class="card-text">
          {{ product.description }}
        </p>
        <a routerLink="/products" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>
</div>
