<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">FakeStore</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products">
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addProduct"> Add Product </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
