<form #form="ngForm" class="mx-auto" style="width: 33vw">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input ngModel type="text" class="form-control" id="title" name="title" />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input ngModel type="text" class="form-control" id="price" name="price" />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input
      ngModel
      type="text"
      class="form-control"
      id="category"
      name="category"
    />
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input ngModel type="text" class="form-control" id="image" name="image" />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      ngModel
      row="10"
      col="20"
      class="form-control"
      id="description"
      name="description"
    ></textarea>
  </div>

  <button
    (click)="this.addProduct(form.value)"
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
