<div class="container">
  <div class="row">
    <div *ngFor="let product of products" class="col-3">
      <div class="card" style="width: 18rem; height: 32rem">
        <img
          [src]="product.image"
          class="card-img-top img-thumbnail h-75"
          alt="..."
        />
        <div class="card-body overflow-auto">
          <a [routerLink]="['/product', product.id]">
            <h5 class="card-title">{{ product.title }}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
